.finished-tasklist {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin: 20px 0;
}

.task-item {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 15px 30px;
    gap: 10px;
    background-color: #332934;
    border-radius: 10px;
}